body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(59, 59, 59);
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #1f796d;
  color: white;
  padding: 1em;
  text-align: center;
  position: relative;
}

h1 {
  margin-bottom: 0.5em;
}

main {
  padding: 20px;
}

section {
  background: rgb(75, 75, 75);
  margin-bottom: 1em;
  padding: 1em;
}

h2 {
  color: #2bb19f;
}

footer {
  text-align: center;
  padding: 0.5em;
  background: #1f796d;
  color: white;
}

p {
  color: white;
}

.dafo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.dafo-box {
  background: rgb(45, 45, 45);
  border: 1px solid black;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dafo_text {
  width: 100%;
  height: 8em;
  text-align: center;
  padding-top: 1em;
}

#dafo_title {
  text-align: center;
}

ul {
  margin: 0.5em;
  padding: 0;
  text-align: center;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0.5em;
}

li:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #2bb19f;
  margin-right: 0.5em;
}

#tablaHorarios th,
#tablaHorarios td {
  border: 1px solid #2bb19f;
  border-top: 1px solid #2bb19f;
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
}

#tablaHorarios {
  background-color: rgb(45, 45, 45);
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  color: white;
}

#seleccionarTrabajador {
  margin-left: 0.5em;
  padding: 0.3em;
}

#horarios {
  background: rgb(75, 75, 75);
  padding: 1em;
  margin-bottom: 1em;
  color: white;
}

