body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(59, 59, 59);
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #1f796d;
  color: white;
  padding: 1em 0;
  text-align: center;
  position: relative;
}

h1 {
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

section {
  background: rgb(73, 73, 73);
  margin-bottom: 20px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2bb19f;
}

footer {
  text-align: center;
  padding: 10px;
  background: #1f796d;
  color: white;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
}
